<link rel="stylesheet" href="/styles/navbar.css">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="/index">MyWeb</a>
  <div class="navbar-nav d-flex flex-row">
    <a class="nav-item nav-link btn btn-outline-secondary mr-2 px-2" href="/">Home</a>
    <a class="nav-item nav-link btn btn-outline-secondary mr-2 px-2" href="/list">Note List</a>
    <% if (authenticated === true) { %>
    <a class="nav-item nav-link btn btn-outline-secondary mr-2 px-2" href="/logout">Logout</a>
    <% } else { %>
    <a class="nav-item nav-link btn btn-outline-secondary mr-2 px-2" href="/signin">Sign In</a>
    <a class="nav-item nav-link btn btn-outline-secondary mr-2 px-2" href="/register">Register</a>
    <% } %>
  </div>
</nav>

<!-- TODO: Set code for active nav item -->
