<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/navBar.ejs') %>
    </header>
    <% if (authenticated === false) { %>
    <h2>You are currently not logged in</h2>
    <h2>Please log in to continue</h2>
    <% } else { %>
    <form action="/note">
      <label for="note">Here is your note:</label>
      <input type="text" />
      <label for="save">You will need to save before you leave the site</label>
      <input type="submit" value="Save" />
    </form>
    <% } %>

    <% if (authenticated === true) { %>
      <a href="/logout">Logout</a>
    <% } %>
  </body>
</html>
