<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <form action="/newrequest" method="post">
        <label for="title">What do you need help for?</label>
        <input type="text" name="title" id="title">
        <label for=""></label>
    </form>
  </body>
</html>
