<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <form action="/newrequest" method="post">
        <label for="title">What do you need help for?</label>
        <input type="text" name="title" id="title">
        <label for="description">Please describe your situation: </label>
        <input type="text" name="description" id="description">
        <label for="image">Please provides some images for your problem</label>
        <input type="submit" value="Send">
    </form>
  </body>
</html>
