<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <label for="email">UserName:</label>
      <input type="text" name="email" id="email" />
      <label for="password">PassWord:</label>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Register" />
    </form>

    <% if (typeof error !== 'undefined' && error) { %>
      <div class="error-message">
        <p><%= error %></p>
      </div>
    <% } %>
  </body>
</html>
