<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
  <header>
    <%- include('./partials/navBar.ejs'); %>
  </header>
  <main class="container my-5">
    <h1 class="mb-4">Tools</h1>
    <div class="list-group">
      <a href="/tools/excel" class="list-group-item list-group-item-action">
        Excel
      </a>
      </div>
  </main>
  </body>
</html>
